Repository Lightcaster-Studios/Beamerman, pull requests merged in 2021-03, with the labels that each got.

#32 Implement multiplayer keyboard + controller
  Config/DefaultEngine.ini
  Config/DefaultInput.ini
  Content/Blueprints/Player/BP_BeamermanGameMode.uasset
  Content/DefaultGameMap.umap
Labels: Feature.Player, Priority.High

#36 Implement different colours for different players
  Content/Blueprints/Player/BP_BeamermanGameMode.uasset
  Content/DefaultGameMap.umap
Labels: Feature.Player, Priority.High

#37 Aesthetic changes to map
  Content/Blueprints/Environment/BP_BaseTile.uasset
  Content/Blueprints/Environment/Tiles/BP_EmptyField.uasset
  Content/Blueprints/Environment/Tiles/BP_GlassWall.uasset
  Content/Blueprints/Environment/Tiles/BP_Wall.uasset
  Content/DefaultGameMap.umap
  Content/Materials/M_TintedGlass.uasset
  Content/StarterContent/Materials/M_Glass.uasset
Labels: Feature.Design, Priority.High

#81 Spawn Effects to Indicate Active Temporary Power Ups
  Content/Blueprints/Effects/BP_Effect_Default.uasset
  Content/Blueprints/Effects/BP_Effect_GlassArmor.uasset
  Content/Blueprints/Effects/BP_Effect_MirroredArmor.uasset
  Content/Blueprints/Effects/BP_Effect_TempArmor.uasset
  Content/Blueprints/Environment/Tiles/BP_CrateWall.uasset
  Content/Blueprints/Player/BP_BeamermanPlayer.uasset
  Content/Blueprints/PowerUps/BP_PowerUP_IncreaseSpeed.uasset
  Content/Blueprints/PowerUps/BP_PowerUpDefault.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_GlassArmor.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_IncreaseRange.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_IncreaseReflectCount.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_MirroredArmor.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_TempArmor.uasset
Labels: Feature.Player, Feature.Powerups
