Repository Lightcaster-Studios/Beamerman, pull requests merged in 2021-04, with the labels that each got.

#102 Change Navmesh runtime generation to dynamic (Fix Issue #90)
  Config/DefaultEngine.ini
Labels: Bug

#134 Add Custom Power Up Icons For Permanent Power UPs
  Content/Blueprints/Misc/BP_Billboard.uasset
  Content/Blueprints/PowerUps/BP_PowerUP_IncreaseSpeed.uasset
  Content/Blueprints/PowerUps/BP_PowerUpDefault.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_GlassArmor.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_IncreaseDroneCount.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_IncreaseRange.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_IncreaseReflectCount.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_MirroredArmor.uasset
  Content/Blueprints/PowerUps/BP_PowerUp_TempArmor.uasset
  Content/Materials/PowerUps/M_PowerUp_DroneUp.uasset
  Content/Materials/PowerUps/M_PowerUp_RangeUp.uasset
  Content/Materials/PowerUps/M_PowerUp_ReflectUp.uasset
  Content/Materials/PowerUps/M_PowerUp_SpeedUp.uasset
  Content/Textures/PowerUps/T_PowerUp_DroneUp.uasset
  Content/Textures/PowerUps/T_PowerUp_RangeUp.uasset
  Content/Textures/PowerUps/T_PowerUp_ReflectUp.uasset
  Content/Textures/PowerUps/T_PowerUp_SpeedUp.uasset
Labels: Feature.Powerups

#144 [WIP] Victory UI Bugs Fix + Implement player stats on HUD
  Content/Blueprints/Misc/Struct_PlayerDeath.uasset
  Content/Blueprints/Player/BP_BeamermanGameMode.uasset
  Content/Blueprints/Player/BP_BeamermanPlayer.uasset
  Content/UI/EndGameVictory/UI_Victory.uasset
  Content/UI/HUD/GameWidgetHUD.uasset
  Content/UI/HUD/HealthBarBorder.png
  Content/UI/HUD/HealthBarBorder.uasset
  Content/UI/HUD/PowerUpIcons/HUD_Drone_Icon.png
  Content/UI/HUD/PowerUpIcons/HUD_Drone_Icon.uasset
  Content/UI/HUD/PowerUpIcons/HUD_Range_Icon.png
  Content/UI/HUD/PowerUpIcons/HUD_Range_Icon.uasset
  Content/UI/HUD/PowerUpIcons/HUD_Reflect_Icon.png
  Content/UI/HUD/PowerUpIcons/HUD_Reflect_Icon.uasset
  Content/UI/HUD/PowerUpIcons/HUD_Speed_Icon.png
  Content/UI/HUD/PowerUpIcons/HUD_Speed_Icon.uasset
  Content/UI/PlayerSceneCaptures/RT_0_Idle.uasset
  Content/UI/PlayerSceneCaptures/RT_1_Idle.uasset
  Content/UI/PlayerSceneCaptures/RT_2_Idle.uasset
  Content/UI/PlayerSceneCaptures/RT_3_Idle.uasset
Labels: Bug, Feature.Design, Feature.Player, Priority.High

#145 WIP - New Powerup Font
  Content/Blueprints/Misc/BP_Billboard.uasset
  Content/UI/Fonts/SoldierFonts/soldiercond_DistsanceField_Font.uasset
  Content/UI/Fonts/TextMaterialOutlineOpaque.uasset
Labels: Priority.Low
